.home {
  width: 100%;
  height: 100%;
  background: #ebedf3;
  box-sizing: border-box;
}

.home .header {
  width: 100%;
  height: 68px;
  background: #1B4260;
}

.home .body {
  width: 100%;
  height: calc(100% - 68px);
  display: flex;
}
.home .body .navigate {
  width: 208px;
  height: 100%;
}
.content {
  margin-left: 8px;
  flex: 1;
  height: 100%;
}